<div class="logo">
  <img class="logo" src="./assets/logo.png" alt="pomodoro timer" />
</div>

<div class="columns is-vcentered is-centered">
  <div class="column">
    <label class="is-size-5" for="theme-select">Select theme</label>
  </div>
  <div class="column">
    <div class="select">
      <select
        name="theme-select"
        id="theme-select"
      >
       <!-- TODO: it should work -->
        <option value="dark">Dark</option>
        <option value="white">White</option>
      </select>
    </div>
  </div>
</div>
